
{%extends 'base.html'%}


{%block content1%}

<div class="container">
  <div id="container" class="clearfix">
    
    <div class="element  clearfix col1-1 home">
        <div class="col1-1 white-right">
            <h4>New Article</h4>
            <input name="title" type="text" size="30" title="Title*">
            <input name="image" type="text" size="30" title="Image*">
            <br>

            <textarea name="tdl_content" class="span12" placeholder="Message" rows="8"></textarea>





        </div>

    </div>

 </div>
</div>
{%endblock%}


